/* 
	====================
	Styleguide.css
	====================
	Section 0: Documentation
        0.1 Version
        0.2 Mixins

	Section 1: Color
		1.1 Primary Color
		1.2 Secondary Color
		1.3 Background and Border Color
		1.4 Text Color

	Section 2: Typography
		2.1 Font Family
		2.2 Size
		2.3 Text Color - see 1.4

	Section 3: Iconography

	Section 4: Cards

	Section 5: Buttons
		5.1 Primary Buttons
		5.2 Seconday Buttons

	Section 6: Grid

	Section 7: Miscellaneous
	====================
*/


/*
    ==================== 
    Section 0: Documentation
    ====================
*/

// section 0.1 Version

$major: 0;
$minor: 0;
$updates: 3;

// section 0.2 Mixins

@mixin box-sizing() {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin display-flex() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin ellipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}



/*
	==================== 
	Section 1: Color
	====================
*/

// Section 1.1: Primary Color

$vyrill-red: #FF3C37;
$blue: #4DA3BA;
$yellow: #FFB500;
$green: #60C29A;
$pink: #A26DA3;
$gray: #BCBCC0;
$white: #F0F3F3;
$black: #030909;

// Section 1.2: Secondary Color

$white-lighter: #FFF;
$solid-white: #FFF;
$gray-lightest: #F0F3F3;
$gray-lighter: #CFD4D4;
$gray: $gray;
$gray-dark: #646869;
$solid-black: #000;

// Section 1.3: Background and Border Color

$background-color: $gray;
$card-bg-color: #FFF;
$border-color: #DEE1E4;

// Section 1.4: Text Color

$text-color: #000;
$text-color-fade: $gray;
$text-color-invert: $solid-white;
$text-color-alert: #F34244;
$link-color: #F34244;

/*
	==================== 
	Section 2: Typography
	====================
*/

// Section 2.1: Font

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('../font/proximanova/ProximaNova-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaSemiBold';
    src: url('../font/proximanova/ProximaNova-Semibold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../font/proximanova/ProximaNova-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@mixin general-font { font-family: 'ProximaNovaRegular', sans-serif; }
@mixin semibold-font { font-family: 'ProximaNovaSemiBold', sans-serif; }
@mixin bold-font { font-family: 'ProximaNovaBold', sans-serif; }

.general-font { font-family: 'ProximaNovaRegular', sans-serif; }
.semibold-font { font-family: 'ProximaNovaSemiBold', sans-serif; }
.bold-font { font-family: 'ProximaNovaBold', sans-serif; }

body {
    @include general-font;
}

// Section 2.2: Size

.font--object-title {
    @include bold-font;
    font-size: 24px;
}

.font--page-title,
.font--main-nav {
    @include semibold-font;
    font-size: 16px;
}

.font--caption {
    @include general-font;
    font-size: 12px;
}

.font--subcaption {
    @include general-font;
    font-size: 10px;
}

// Section 2.3: Font Color
.font--text-color {
    color: $text-color;
}

.font--text-color-fade {
    color: $text-color-fade;
}

.font--text-color-invert {
    color: $text-color-invert;
}

.font--text-color-alert {
    color: $link-color;
}

.font--link-color {
    color: $link-color;
    &:hover,
    &:focus,
    &:target {
        color: darken($link-color, 10%);
    }
}


/*
	==================== 
	Section 3: Iconography
	====================
	*see spritesmith.css
*/


/*
	==================== 
	Section 4: Cards
	====================
*/

.card-container {
    background-color: $card-bg-color;
    display: flex;
    height: 360px;
    margin: 0 auto;
    margin: 0 4px 20px 4px;
    width: 300px;
    position: relative;
    overflow: hidden;
    &.container-top-default { border-top: 6px solid $vyrill-red; }
    &.container-top-yellow { border-top: 6px solid $yellow; }
    &.container-top-blue { border-top: 6px solid $blue; }
    &.container-top-green { border-top: 6px solid $green; }
    &.container-top-pink { border-top: 6px solid $pink; }
    &.container-top-red { border-top: 6px solid $vyrill-red; }
    &.card-size-large, &.card-size-full { width: 100%; }
    .card-content {
        align-items: stretch;
        border-color: $border-color;
        border-style: solid;
        border-width: 0 1px 1px 1px;
        padding: 0 14px 14px 14px;
        width: 100%;
        .title {
            height: 19px;
            line-height: 1.2;
            letter-spacing: 1px;
            overflow: hidden;
            position: relative;
            top: 20px;
            width: 240px;
            white-space: nowrap;
        }
        .title[contenteditable=true] {
            height: auto;
        }
        .title-2 {
            letter-spacing: 1px;
            position: relative;
            margin-bottom: 20px;
            text-transform: uppercase;
            top: 12px;
            .icon {
                margin-bottom: 5px;
                margin-right: 8px;
            }
        }
        .bx-wrapper {
            max-height: 100px;
            overflow: hidden;
        }
        .close-button {
            color: $gray;
            cursor: pointer;
            font-size: 16px;
            position: absolute;
            right: 10px;
            top: 8px;
            z-index: 1;
            &:before {
                content: "X";
            }
        }
        figure.preview {
            height: 175px;
            overflow: hidden;
            position: relative;
            text-align: center;
            margin-top: 28px;
            img {
                height: 100%;
            }
        }
        .related-items {
            visibility: hidden;
            height: 88px;
            overflow: hidden;
            position: absolute;
            right: 10px;
            top: 50px;
            width: 150px;
        }
        figure.preview-video {
            margin-bottom: 18px;
            img {
                max-height: 80px;
                width: auto;
            }
        }
        // features inside the cart
        .graph-view,
        .influencer-to-product-list,
        .article-list {
            height: 210px;
            margin-bottom: 20px;
            overflow: hidden;
        }
        .influencer-to-product-list {
            li {
                display: flex;
                margin-bottom: 5px;
                .influencer-photo {
                    @include border-radius(50%);
                    margin-right: 10px;
                    overflow: hidden;
                    width: 28px;
                    height: 28px;
                }
                .influencer-name {
                    @include ellipsis();
                    @include semibold-font();
                    margin-top: 5px;
                    margin-right: 5px;
                    max-width: 112px;
                    &:after {
                        content: "...................";
                    }
                }
                .product-name {
                    @include ellipsis();
                    margin-top: 5px;
                    max-width: 110px;
                }
            }
        }
        .article-list {
            span.icon {
                float: left;
                margin-top: 5px;
            }
            a {
                display: list-item;
                margin-bottom: 14px;
                margin-left: 40px;
            }
        }
        .action-list {
            height: 210px;
            margin-bottom: 20px;
            &.empty-list {
                font-size: 20px;
                color: $gray;
                font-style: italic;
                span.icon {
                    filter: invert(80%);
                    margin: 20px 0;
                }
            }
        }
        .card-info {
            position: relative;
            line-height: 2;
            a {
                position: absolute;
                left: 36px;
            }
        }
        .card-footer {
            border-color: $border-color;
            border-style: solid;
            border-width: 1px 0 0 0;
            margin: 0 -14px;
            padding: 12px 14px;
            position: relative;
            a {
                color: $link-color;
            }
            .action-wrapper {
                position: absolute;
                bottom: 10px;
                right: 9px;
                label {
                    input[type="checkbox"] {
                        display: none;
                    }
                    input[type="checkbox"] + span {
                        filter: invert(60%);
                    }
                    input[type="checkbox"]:checked + span {
                        filter: invert(0);   
                    }
                    cursor: pointer;
                }
                @mixin shadow() {
                    box-shadow: 1px 1px 5px gray;
                }
                .memo-popup {
                    @include shadow();
                    background: $solid-white;
                    border: 1px solid $border-color;
                    display: none;
                    height: 150px;
                    position: absolute;
                    right: 0;
                    bottom: 38px;
                    width: 200px;
                    z-index: 1;
                    textarea {
                        display: block;
                        height: 60px;
                        margin: 0 auto;
                        resize: none;
                        width: 170px;
                    }
                }
            }
        }
    }
    &.filter {
        border-top: 1px solid $border-color;
        height: auto;
        overflow: visible;
        .filter-tag {
            @include border-radius(44px);
            background-color: $gray-lightest;
            display: inline-block;
            font-size: 12px;
            margin-bottom: 10px;
            margin-right: 10px;
            padding: 6px 14px;
            position: relative;
        }
    }
    &.invisible-card {
        // this is to compensate the flex display on last row
        height: 0 !important;
        margin: 0 !important;
    }
    &.list-view {
        height: 188px;
        width: 100%;
        .card-content {
            position: absolute;
            right: 0;
            height: 173px;
            width: calc(100% - 319px);
            .title {
                margin-bottom: 26px;
            }
            figure.preview {
                position: absolute;
                margin-top: 0;
                left: -301px;
                top: -2px;
                height: 190px;
                width: 300px;
                overflow: hidden;
            }
            .related-items {
                visibility: visible;
            }
            .card-indicator {
                position: relative;
                top: -30px;
            }
            .card-footer {
                text-align: right;
                a {
                    position: relative;
                    right: 120px;
                    &:after {
                        content: "";
                        margin-left: 10px;
                        border-right: 1px solid $border-color;
                    }
                }
                .memo-popup {
                    bottom: 23px;
                }
            }
        }
    }
    &.text-view {
        height: 60px;
        margin-bottom: 0;
        overflow: visible;
        width: 100%;
        .card-content {
            figure.preview {
                border: 1px solid $border-color;
                height: 50px;
                margin-top: 0;
                position: absolute;
                right: 300px;
                top: 3px;
                width: 80px;
            }
            .card-indicator,
            .card-info {
                display: none;
            }
            .card-footer {
                border-top: none;
                display: inline-block;
                position: absolute;
                right: 18px;
                top: 8px;
                width: 220px;
                .memo-popup {
                    bottom: 0;
                }
            }
        }
        &:not(:first-child) {
            border-top: 0;
        }
    }
}


/*
	==================== 
	Section 5: Buttons
	====================
*/

// 5.1 Primary Buttons

button[class*="btn--"] {
    @include border-radius(3px);
    padding: 0 20px;
    &:hover {
        cursor: pointer;
    }
    span {
        margin-right: 10px;
    }
}

.btn--primary,
.btn--primary-small {
    background-color: $vyrill-red;
    border: 0;
    color: $white;
    line-height: 1.2;
}

.btn--primary {
    @include semibold-font;
    font-size: 16px;
    height: 40px;
}

.btn--primary-small {
    @include general-font;
    font-size: 14px;
    height: 30px;
}

// Section 5.2 Secondary Buttons

.btn--secondary-red,
.btn--secondary-gray,
.btn--secondary-red-small,
.btn--secondary-gray-small {
    @include general-font;
    background-color: $solid-white;
    line-height: 1.2;
}

.btn--secondary-red,
.btn--secondary-gray {
    font-size: 16px;
    height: 40px;
}

.btn--secondary-red-small,
.btn--secondary-gray-small {
    font-size: 14px;
    height: 30px;
}

.btn--secondary-red,
.btn--secondary-red-small {
    border: 1px solid $vyrill-red;
    color: $vyrill-red;
}

.btn--secondary-gray,
.btn--secondary-gray-small {
    border: 1px solid $gray-dark;
    color: $gray-dark;
}


/*
	==================== 
	Section 6: Grid
	====================
*/

.container {
    margin: 0 auto;
    width: 1000px;
}
.v-container {
  min-width: 376px;
  max-width: 1124px;
  margin: 0 auto;
  padding: 0 10px;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  &.nowrap {
    -webkit-flex-flow: row nowrap;
  }
  &.constant-height {
    align-items: stretch;
  }
}

.v-row {
    @include display-flex();
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.col-1-3, .col-2-3, .col-3-3,
.col-1-4, .col-2-4, .col-3-4, .col-4-4 {
}

.col-1-3 {
  width: 372px;
}
.col-2-3 {
  width: 748px;
}
.col-3-3 {
  width: 1120px;
}
.col-1-4 {
  width: 280px;
}
.col-2-4 {
  width: 560px;
}
.col-3-4 {
  width: 840px;
}
.col-4-4 {
  width: 1120px;
}



/*
	==================== 
	Section 7: Miscellaneous
	====================
*/

figure {
    overflow: hidden;
    img {
        width: 100%;
    }
}

button, [role="button"], input[type="checkbox"] {
    cursor: pointer;
}

input {
    display: block;
    width: 100%;
}

input[type="text"],
input[type="password"] {
    @include border-radius(4px);
    @include box-sizing();
    
    border: 1px solid $border-color;
    padding: 10px;
}

.inline-block {
    display: inline-block;
}
.inline-block-left {
    display: inline-block;
    float: left;
}

.inline-block-right {
    display: inline-block;
    float: right;
}

.close-button {
    background: transparent;
    border: none;
}

// margin top
.mt-10 { margin-top: 10px; } 
.mt-15 { margin-top: 15px; }
.mt-30 { margin-top: 30px; }
.mt-50 { margin-top: 50px; }
.mt-100 { margin-top: 100px; }

// margin bottom
.mb-10 { margin-bottom: 10px; } 
.mb-15 { margin-bottom: 15px; }
.mb-30 { margin-bottom: 30px; }
.mb-50 { margin-bottom: 50px; }
.mb-100 { margin-bottom: 100px; }

// margin right
.mr-10 { margin-right: 10px; } 
.mr-15 { margin-right: 15px; }
.mr-30 { margin-right: 30px; }
.mr-50 { margin-right: 50px; }
.mr-100 { margin-right: 100px; }

// margin left
.ml-10 { margin-left: 10px; } 
.ml-15 { margin-left: 15px; } 
.ml-30 { margin-left: 30px; } 
.ml-50 { margin-left: 50px; }
.ml-100 { margin-left: 100px; }


// Animation delay 

.animation-delay-100 { animation-delay: 100ms; }
.animation-delay-200 { animation-delay: 200ms; } 
.animation-delay-300 { animation-delay: 300ms; }
.animation-delay-400 { animation-delay: 400ms; }
.animation-delay-500 { animation-delay: 500ms; }
.animation-delay-600 { animation-delay: 600ms; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }
.text-right { text-align: right; }

.font-uppercase, .text-uppercase {
    text-transform: uppercase;
}
